name: release

on:
  release:
    types: [published]

jobs:
  build:
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: x86_64-apple-darwin
            os: macos-latest

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      - run: cargo build --release --manifest-path crates/pomodoro/Cargo.toml --target ${{ matrix.target }}
      - run: |
          mv crates/pomodoro/target/${{ matrix.target }}/release/pomodoro \
             pomodoro-${{ matrix.target }}
      - uses: softprops/action-gh-release@v2
        with:
          files: pomodoro-${{ matrix.target }}
